/* Reset */

* {
	margin:0px;
	padding:0px;
}

.clearFix {
	clear: both;
}

#nav{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size:15px;
}

#nav ul{
	background:#222;
	height:100%;
	list-style:none;
	-webkit-border-radius: 6px;
}

#nav li{
	float:left;
	padding:0px;
}

#nav li a{
	background:#222;
	display:block;
	text-align:center;
	text-decoration:none;
	color:#fff;
	line-height:50px;
	padding:0px 25px;
	-webkit-border-radius: 6px;
	
}

#nav li a:hover{
	text-decoration:none;
	background: #4873b1;
	color:#FFFFFF;
	-webkit-border-radius: 3px;
}

