body{
	background-color:#fff;
	background-image:url(../images/blue-bak.png);
	color:#000;
}
.top{
	background-color:#003;
	box-shadow: 3px 3px 3px 3px;
}
.page{
	width:1180px;
	text-align:center;
	margin:auto;
	background-color: #fff;
}
.slide{
	border:3px solid #FFFFFF;
	margin:auto;
	margin-bottom:5px;
	background-color:#003;
	box-shadow:5px 5px 5px;	
	width: 990px;
}
.menutop{
	border:1px solid;
	background-color:#000033;
	width:auto;
	height:60px;
	box-shadow: 0 2px 6px;
	margin-top: 10px;
}
.menuside{
	float:left;
	color:#FFF;
	/*border-top:none;*/
	width:260px;
	margin-top: 10px;
}
.menuside div {
	width:236px;
	margin:auto;
}
.menufooter{
	/*background-color:#6FF;*/
	margin:5px;
	clear:both;
	
		font-size: 15px;
  background: #00005c;
  background: -moz-linear-gradient(#000000 0%, #000033 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #000033));
  background: -webkit-linear-gradient(#000000 0%, #000033 100%);
  background: linear-gradient(#000000 0%, #000033 100%);
  color: #fff;
  border: 1px solid #000033;
  min-height:500px;
}
.content{
	/*background-color:#FF0;*/
	min-height:500px;
	/*margin:5px 5px 5px 270px;*/
}

/*****************************************CONTENT************************************************/
.serviceheader {
  /*background: -moz-linear-gradient(#00005c 0%, #1865de 100%);
  background: none repeat scroll 0 0 #fff;*/
  border: 1px solid #000033;
cursor:pointer;
	border-radius: 7px 7px 0 0;
	margin-bottom: 10px;
	margin: 10px;
	padding: ;
	box-shadow: 2px 3px 3px;
	min-height: 180px;
	width: 346px;
	display: inline-block;
}
.texthead{
	font-size: 15px;
  background: #00005c;
  background: -moz-linear-gradient(#00005c 0%, #000033 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00005c), color-stop(100%, #000033));
  background: -webkit-linear-gradient(#00005c 0%, #000033 100%);
  background: linear-gradient(#00005c 0%, #000033 100%);
  color: #fff;
  text-shadow: 0 1px 1px #000;
  border: 1px solid #000033;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.text{
	vertical-align:top;
}
div.hover {
	background-color: #1865de;
	color: #fff;
}
.image-service{
	height:107px;
	width:111px;
}
/*p.texttohide, ul.texttohide{
height:0;
overflow:hidden;
margin:0;
}

div.plier p{
	height:0px !important;
	overflow:hidden;
}
div.plier{
	height:180px !important;
  width:346px !important;
}*/


.servicedetail {
 
    /* must be initially hidden */
    display:none;
 
    /* place overlay on top of other elements */
    z-index:10000;
 
    /* styling */
    /*background-color:#333;
 
    width:675px;
    min-height:200px;
    border:1px solid #666;*/
	 border: 1px solid #000033;
	border-radius: 7px 7px 0 0;
	margin-bottom: 10px;
	margin: 10px;
	box-shadow: 2px 3px 3px;
	min-height: 180px;
	width: 800px;
	background-color:#FFF;
 
    /* CSS3 styling for latest browsers */
   /* -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;*/
}
 
/* close button positioned on upper right corner */
.servicedetail .close {
    background-image:url(../images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}